body{
    background-image: url(https://i.postimg.cc/RCLBZJv7/image.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* padding: 0px; */
    /* margin: 0px; */
}
/* img{
    width: 100px;
} */

.ramka{
    margin: 0px auto;
    display: grid;
    background-color: rgba(255, 0, 170, 0.3);
    width: 1150px;
    height: 98vh;
    border-radius: 1%;
}

.papa_ramka{
    display: flex;
}

.glamour_cat{
    width: 8%;
    left: 28%;
    position:fixed;
}
.cool{
    position:fixed;
    left: 31%;
    width: 40%;
}

.junkat{
    position:fixed;
    left: 66.4%;
    width: 5%;
    top: 7%;
    z-index: 1000;
}


.ramka_top{
    /* width: 100%; */
    display: flex;
    justify-content: center;
}

.skull1{
    position:fixed;
    left: 60.7%;
    width: 2.6%;
    top: 51.2%
    /* height: 3%; */
}

.skull2{
    position:fixed;
    right: 58.6%;
    width: 2.6%;
    top: 51.2%;
    z-index: 1000;
    
}

.razdel{
    position:fixed;
    left: 45%;
    width: 12.1%;
    height: 9%;
    top: 50%;
    box-shadow: 1px 1px 15px 5px rgb(255, 0, 170);
    border-width: 3px;
    border-radius: 15px;
}

.textbox{
    /*This site was made by Aleferenko Nadezhda and Alferova Ksenia
    Our telegram-channels
    Nadya: @from_anothers_eyes
    Ksenia: @galosha666 */
    width: 30%;
    /* height: 30%; */
    font-weight: 750;
    font-size: 2vh;
    position: fixed;
    font-family:'Playwrite GB S';
    text-align: center;
    top: 42%;
    right: 34%;
}

.box1{
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(255, 105, 248);
    border-color: rgb(255, 99, 185);
    border-style: dotted;
    height: 5%;
    width: 2.7%;  
    top: 50%;
    left: 60.5%;
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.box2{
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(255, 105, 248);
    border-color: rgb(255, 99, 185);
    border-style: dotted;
    height: 5%;
    width: 2.7%;
    top: 50%;
    right: 58.4%;
    position: fixed;
    background-color: rgb(0, 0, 0);
}

.textbox1{
    margin-top: 3vw;
    margin-right: 55%;
}