.box{
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(255, 105, 248);
    border-color: rgb(255, 99, 185);
    border-style: dashed;
    height: 50px;
    width: 50px;
    top: 390px;
    left: 1010px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.box1{
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(255, 105, 248);
    border-color: rgb(255, 99, 185);
    border-style: dotted;
    height: 50px;
    width: 50px;
    top: 390px;
    left: 1220px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.box2{
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(255, 105, 248);
    border-color: rgb(255, 99, 185);
    border-style: dotted;
    height: 50px;
    width: 50px;
    top: 390px;
    left: 575px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.box3{
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(255, 105, 248);
    border-color: rgb(255, 99, 185);
    border-style: dotted;
    height: 50px;
    width: 50px;
    top: 390px;
    left: 790px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.ramka{
    background-size: 100% 100%;
    position: fixed;
    /*background-color: rgb(206,58,229, 0.5);*/
    background-color: rgba(255, 0, 170, 0.3);
    position: absolute;
    /* z-index: -10; */
    width: 60vw;
    background-repeat: no-repeat;
    border-color: rgb(0, 0, 0);
    height: 98vh;
    border-radius: 15px;
    border-width: 4px;
    border-style: dotted;
    left: 370px;
}

.cat{
    height: 230px;
    width: 260px;
    top: 720px;
    right: 10px;
    position: absolute;
    
}

.top_cat{
    height: 300px;
    width: 500px;
    top: 5px;
    right: 1420px;
    position: absolute;
}

.glamour_cat{
    height: 150px;
    width: 100px;
    top: 40px;
    right: 1175px;
    position: absolute;
}

.cool{
    height: 350px;
    width: 700px;
    top: 20px;
    right: 560px;
    position: absolute;
}

.skull1{
    position: absolute;
    z-index: 1000;
    height: 40px;
    width: 50px;
    top: 398px;
    left: 577px;

}
.skull2{
    position: absolute;
    z-index: 1000;
    height: 40px;
    width: 50px;
    top: 398px;
    left: 1223px;

}

.skull3{
    position: absolute;
    z-index: 1000;
    height: 40px;
    width: 50px;
    top: 398px;
    left: 1013px;

}

.skull4{
    position: absolute;
    z-index: 1000;
    height: 40px;
    width: 50px;
    top: 398px;
    left: 792px;

}

body{
    background-image: url(https://i.postimg.cc/RCLBZJv7/image.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.textbox{
    /*This site was made by Aleferenko Nadezhda and Alferova Ksenia */
}